.app-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 524px;
  background-color: #c0d9df;
}
.content {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 500px) {
  .content {
    width: 100%;
    max-width: 500px; /* Adjust this value as needed */
  }
}
